        /* Основной flex-контейнер */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* занимает весь экран */
        }
        main {
            flex: 1; /* основной контент растягивается */
        }

/* Открываем dropdown при наведении */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* чтобы меню не сдвигалось */
}

/* Для удобного hover курсора для всех */
.nav-item.dropdown .disabled {
    pointer-events: none; /* запрещаем клики для обычных пользователей */
    opacity: 0.7;
}
